##################################################
# Modify files' line endings on checkin and checkout
##################################################

# Any unspecified file will have Unix line endings. (fallback)
* text eol=lf

# Known Windows files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.reg text eol=crlf
autounattend.xml text eol=crlf

# Files that are truly binary and should not be modified.
*.zip binary
*.7z binary
*.rar binary
*.tar binary
*.tar.* binary
*.tgz binary
*.jpg binary
*.jpeg binary
*.png binary
*.ico binary
*.webp binary
*.gif binary
*.mp4 binary
*.mov binary
*.webm binary
*.mp3 binary
*.aac binary
*.apk binary
*.abb binary

# Magisk modules
META-INF/** text eol=lf
system/** binary
common/** text eol=lf